
* {
    margin: 0; /* Always Remove global margin */
    padding: 0; /* Always Remove global padding */
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Raleway', 'Poppins', 'Roboto', sans-serif;
}
:root {
    --bg-color: #161616;
    --second-bg-color: #182538;
    --text-color: #e3e3e3ed;
    --main-color: #00ffee;
    --dark-slate-blue: #253B59;
    --medium-sky-blue: #14B5D9;
    --light-brown: #A6763C;
    --vermilion: #F2441D;
    --light-coral: #F29985;
    --dark-purple: #711c91;
    --vivid-magenta: #ea00d9;
    --alternate-magenta: #BD249B;
    --bright-cyan: #0abdc6;
    --dark-cerulean-blue: #133e7c;
    --midnight-blue: #091833;
    --profile-background: #19999C;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-y: scroll; /* Ensure vertical scrolling is enabled */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: #08080846;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}
.logo span {
    color: var(--text-color);
    text-shadow: 0 0 35px var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

/* Container for the image */
.home-img {
    display: flex; /* Ensure the image container uses flexbox */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    border-radius: 50%;
}

/* Actual image */
.home-img img {
    width:80%; /* Set a fixed width */
    height: 80%; /* Set a fixed height to match width */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    object-fit: cover; /* Ensure the image covers the container */
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color), 
                0 0 50px var(--main-color), 
                0 0 100px var(--main-color);    
}
.home-content p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--bg-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn-contact{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 23.4rem;
    text-align: center;
}
.btn-contact:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color); 
}
.btn-group{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    color: black;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    margin-bottom: 5rem;
    max-height: 200vh;
}
.education-timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.education-timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.education-timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.education-timeline-item:last-child{
    margin-bottom: 0;
}
.education-timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.education-timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.education-timeline-dot {
    height: 21px;
    width: 21px; 
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 9px); /* Center the dot horizontally */
    border-radius: 50%;
    top: 10px;
}

.education-timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.education-timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.education-timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.education-timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.education-timeline-content h4{
    font-size: 17px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.education-timeline-content p{
    font-size: 16px;
    color: white;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.services{
    background: var(--bg-color);
    color: rgb(244, 243, 243);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    color: black;
}
.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: var(--alternate-magenta);
    color: rgb(240, 230, 230);
    border: var(--alternate-magenta);
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--alternate-magenta), 
                0 0 50px var(--alternate-magenta), 
                0 0 100px var(--alternate-magenta);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}
.testimonials{
    background: var(--second-bg-color);
}
.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-bottom: 5rem;
}
.testimonials-box img{
    width: 15rem; /* Ensure width is set */
    height: 15rem; /* Ensure height is set */
    border-radius: 50%; /* Make the image circular */
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    object-fit: cover; /* Preserve the aspect ratio and cover the container */
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.testimonial-item{
    min-height: 550px;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.685);
    border: 3px solid rgb(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out, box-shadow 0.3s ease;
}

.testimonial-item:hover{
    border: 3pX solid var(--main-color);
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.testimonial-item h2{
    font-size: 2.8rem;
}
.testimonial-item p{
    font-size: 1.3rem;
}
#star{
    color: gold; /* Fixed the color value */
    font-size: 2rem;
}
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3pX solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .education-timeline-items::before{
        left: 7px;
    }
    .education-timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .education-timeline-item:nth-child(odd),
    .education-timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .education-timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background:rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: ■white;
    }
    
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}
  